.login-page {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}

.login-form {
    position: relative;
    top: 30%;
    border: 2px solid gray;
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 5px;
}

.title {
    font-size: 20px;
}

.input-container {
    margin: 15px;
}

.form-msg {
    font-size: 12px;
}

.login-btn {
    color: white;
    background-color: blue;
}

.form-control {
    font-size: 15px;
}

@media screen and (max-width:650px) {
    .login-page {
        width: 100%;
        height: 100vh;
    }

    .login-form {
        position: relative;
        top: 20%;
        width: 250px;
    }

    .input-container {
        width: 60%;
    }

    .form-control {
        font-size: 12px;
    }
}