.custom-navbar {
    display: flex;
    background-color: rgb(98, 194, 232);
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
}

.logo {
    font-size: 20px;
    color: white;
}

.menu-btn {
    display: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nvlink {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width:600px) {
    .menu-btn {
        display: block;
        font-size: 20px;
        border: none;
        background: none;
        color: white;
        cursor: pointer;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 10%;
        left: 0;
        width: 50%;
        background: rgba(14, 193, 221, 0.9);
        flex-direction: column;
        padding: 10px;
        padding-bottom: 25px;
        z-index: 1;
    }

    .nvlink {
        color: white;
        font-size: large;
        padding: 5px 0;
    }

    .nav-links.active {
        display: flex;
    }
}